
/* navigation var style */
nav {
    display:flex;
    justify-content: space-between;
    align-items: center;
   
}
/* common shared styles */

   
/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.playfair-display-<uniquifier> {
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
body{
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}
.nav-heading{
    font-optical-sizing: auto;
  font-weight: 800;
  font-size: 40px;
 
}
.nav-heading span{
   /* color: */
   /* rgb(244, 86, 0); */
}
nav >ul{
    display: flex;
    align-items:center;
    
}
nav >ul >li{
    margin-right: 50px;
    list-style: none;
    
}
nav a{
    text-decoration: none;
    color:rgb(99, 98, 98)
}

/* primary buttion style */
.btn-primary>a{
    color:white;
    font-size: 20px;
    font-weight: 700;
}
.btn-primary,.btn-primary1{
    padding:8px 15px;
    background-color: orangered;
    color:white;
    border:none;
    border-radius: 5px;
}
.btn-primary:hover,.btn-primary>a:hover{
    background-color: blueviolet;
    text-decoration: underline;

}
/* adding bg color  */
.header{
    background-color: rgba(255, 68, 0, 0.057);
}
.banner{
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: space-between;
}
/* allain the written content */
.banner-title , .banner-greting,.btn-primary,.nav-heading,.banner-writing{
    margin-left: 100px;

}
.banner-title , .banner-greting{
    font-size: 50px;
}
/*adding margin to my image to look cool*/
.shafik-image{
    margin-right: 5%;
}